<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<!--
`chrome-tab` a tab component managed in a chrome-tabs.

a chrome-tab have an icon typically the favico of a website, and a title
typically the title of the document.

Example :

    <chrome-tab
        icon='https://www.google.fr/images/branding/product/ico/googleg_lodp.ico'
        title='Google' >
    </chrome-tab>

### Styling
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
'--tabs-background-color' | background of a tab | #dad9da
'--tab-selected-color' | color of the selected tab | #f2f2f2
'--tab-selected-text' | color of the selected text | black
'--tab-hover-color' | color on fly over | #e8e8e8

-->
<dom-module id="chrome-tab">
  <template>
    <style>
      :host {
        position: relative;
        flex:1;
        max-width: 290px;
        height: 35px;
        font-size: 12px;
        display: flex;
        overflow: hidden;
        min-width: 70px;
        outline: none;
        --default-tab-background-color: #d0d0d0;
        --default-tab-selected-color: #f2f2f2;
        --default-tab-hover-color: #e8e8e8;
      }

      :host:not(:first-child) {
        margin-left:-15px
      }

      .tab-left {
        border-top: 35px solid transparent;
        border-right: 15px solid var(--tab-background-color,--default-tab-background-color);
        z-index:1;
      }
      .tab-right {
        border-top: 35px solid transparent;
        border-left: 15px solid var(--tab-background-color,--default-tab-background-color);
        z-index:1;
      }
      .tab-content {
        flex: 1;
        background: var(--tab-background-color,--default-tab-background-color);
        display: flex;
        flex-direction: row;
        border-top: 1px solid rgba(130, 130, 130, 0.6);
        white-space: nowrap;
        overflow: hidden;
        align-items: center;
      }
      .tab-title {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
      .tab-icon {
        width:18px;
        height:18px;
        margin-right:5px;
        display: flex;
        flex-direction: column;
        background:url('./noicon.png')
      }
      .tab-icon img {
        width: 18px;
      }

      :host(:hover) .tab-content {
        background: var(--tab-hover-color, --default-tab-hover-color);
        border-top: 1px solid var(--tab-hover-color, --default-tab-hover-color);
      }
      :host(:hover) .tab-left {
        border-right-color: var(--tab-hover-color, --default-tab-hover-color);
      }
      :host(:hover) .tab-right {
        border-left-color: var(--tab-hover-color, --default-tab-hover-color);
      }

      :host(.iron-selected) {
        z-index: 2;
      }
      :host(.iron-selected) .tab-content {
        background: var(--tab-selected-color,--default-tab-selected-color);
        border-top-color: var(--tab-selected-color,--default-tab-selected-color);
        color: var(--tab-selected-text, black);
      }
      :host(.iron-selected) .tab-left {
        border-right-color: var(--tab-selected-color,--default-tab-selected-color);
      }
      :host(.iron-selected) .tab-right {
        border-left-color: var(--tab-selected-color,--default-tab-selected-color);
      }

      .bottom-bar {
        position: absolute;
        bottom: 0;
        height: 4.5px;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        box-shadow: 0 -0.05em rgba(0,0,0,0.27);
        z-index: 1;
      }
      .shadow {
        position: absolute;
        border-left-color: rgba(130, 130, 130, 0.6);
        border-right-color: rgba(130, 130, 130, 0.6);
      }
      .tab-right.shadow {
        right: -1px;
      }
      .tab-left.shadow {
        left: -1px;
      }
      .tab-close {
        width: 18px;
        box-sizing: border-box;
        border-radius: 18px;
        text-align: center;
        display: flex;
        align-content: stretch;
        flex-direction: column-reverse;
      }
      .tab-close:before {
        content: "\00D7";
        font-size: 18px;
        line-height: 18px;
      }
      .tab-close:hover {
        background: #e25c4b;
        color: #fff;
      }

    </style>

    <div class="tab-left shadow"></div>
    <div class="tab-right shadow"></div>
    <div class="tab-left"></div>
    <div class="tab-content">
      <div class="tab-icon"><img src='{{icon}}'></div>
      <div class="tab-title">{{title}}</div>
      <div class="tab-close" hidden$={{unclosable}} on-tap="_close"></div>
    </div>
    <div class="tab-right"></div>

  </template>
  <script>
    Polymer({
      is: 'chrome-tab',

      properties: {
        /**
         * url of the icon
         * @type {String}
         */
        icon: {
          type: String,
        },

        /**
         * the title of the tab
         * @type {String}
         */
        title: {
          type: String,
          value: 'about:blank',
        },

        /**
         * indicates if the tab is unclosable or not
         * by default, the tab is closable
         * @type {Boolean}
         */
        unclosable: {
          type: Boolean,
          value: false,
        },
      },

      hostAttributes: {
        role: 'tab',
      },

      /**
       * fire a `tab-close` event when clicking on the
       * close button of the tab
       *
       * @event tap-close
       * @param {chrome-tab} item the curent tab
       */
      _close: function(evt) {
        evt.stopPropagation();
        this.fire('tab-close', { item: this });
      },

    });
  </script>
</dom-module>
